.corpo {
    min-height: 100vh;
    background-color: #0a2325;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;
    display: flex;
    flex-direction: column;
}

.bubbles span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #274778;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #333, 0 0 100px #a2aaab;
    animation: animate 15s linear infinite;
    animation-duration: calc(115s/var(--i));

}

.bubbles span:nth-child(even) {
    background: #fff;
    box-shadow: 0 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px#fff, 0 0 50px #fff;

}

/* .bubbles span:nth-child(even) {
    background: #e93fd0;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #e93fbc, 0 0 100px #3fc1e9;

} */

/* .bubbles span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff2d75, 0 0 100px #ff2d75;

} */

@keyframes animate {
    0% {
        transform: translateX(100vh) scale(0);
    }

    100% {
        transform: translateX(-10vh) scale(1);
    }
}