<main class="insomnia_season">
    <div id="caixa" class="sob">
        <h1 class="name"> Insomnia</h1>
        <span class="space"></span>
        <div class="principal">
            <h3 class="name">Introdução</h3>
            <p>
                O Insomnia é uma plataforma colaborativa de desenvolvimento de API de
                código aberto que facilita a criação de APIs.
                <br>
                Com o insomnia você consegue projetar, depurar e testar APIs.
            </p>
            <div class="principal">
                Para o acesso ao código da Api no github e para importar a documentação realizada pelo insomnia acesse
                os links abaixo:
                <div class="space-button dados">
                    <a href="https://github.com/GiseleMN/LibraryApi">
                        <img src="assets/Image/Octocat.png">Acesso ao código <img
                            src="https://icongr.am/fontawesome/arrow-circle-o-right.svg?size=28&color=ffffff">
                    </a>
                </div>
                <a href="https://insomnia.rest/run/?label=LibraryApi&uri=https%3A%2F%2Fgithub.com%2FGiseleMN%2Finsomnia-json.git"
                    target="_blank"><img src="https://insomnia.rest/images/run.svg" alt="Run in Insomnia"></a>
            </div>


        </div>

    </div>
    <div id="caixa" class="principal ">
        <h3 class="name principal" style="font-size: x-large;">Imagens dos testes dos endpoint realizados com
            Insomnia
        </h3>
    </div>

    <div class=" principal ">
        <div id="caixa" class=" box_img ">

            <app-card-insomnia id="1" contentName="Login - Teste do EndPoint Login"
                contentImg="assets/Image/insomnia/insominiaLoginToken.png">
            </app-card-insomnia>

            <app-card-insomnia id="2" contentName="Get (Book) - Buscando os livro"
                contentImg="assets/Image/insomnia/InsominiaGet.png">
            </app-card-insomnia>

            <app-card-insomnia id="3" contentName="Post (Book) - Cadastrando Livro"
                contentImg="assets/Image/insomnia/InsominiaCreate.png">
            </app-card-insomnia>

            <app-card-insomnia id="4" contentName="Get By Id (Book) " contentImg="assets/Image/insomnia/getById.png">
            </app-card-insomnia>

            <app-card-insomnia id="5" contentName="Put (Book) - atualizando livro"
                contentImg="assets/Image/insomnia/insominiaUpdate.png">
            </app-card-insomnia>


        </div>



    </div>
</main>