<main class="insomnia_season">
    <div id="caixa" class="sob">
        <h1 class="name"> Insomnia</h1>
        <span class="space"></span>
        <div class="principal">
            <h3 class="name">Introdução</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;O Insomnia é uma plataforma colaborativa de desenvolvimento de API de
                código aberto que facilita a criação de APIs.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Com o insomnia você consegue projetar, depurar e testar APIs.
            </p>
        </div>

    </div>
    <div id="caixa" class="principal ">
        <h3 class="name principal" style="font-size: x-large;">Imagens dos testes dos endpoint realizados com
            Insomnia
        </h3>
    </div>

    <div class=" principal ">
        <div id="caixa" class=" box_img ">

            <app-card-insomnia id="1" contentName="Login - Teste do EndPoint Login"
                contentImg="assets/Image/insomnia/InsominiaLogin.png">
            </app-card-insomnia>

            <app-card-insomnia id="2" contentName="Get (Book) - Buscando os livro"
                contentImg="assets/Image/insomnia/InsominiaGet.png">
            </app-card-insomnia>

            <app-card-insomnia id="3" contentName="Post (Book) - Cadastrando Livro"
                contentImg="assets/Image/insomnia/InsominiaCreate.png">
            </app-card-insomnia>

            <app-card-insomnia id="4" contentName="Get By Id " contentImg="assets/Image/insomnia/InsominiaGet.png">
            </app-card-insomnia>

            <app-card-insomnia id="5" contentName="Put (Book) - atualizando livro"
                contentImg="assets/Image/insomnia/insominiaUpdate.png">
            </app-card-insomnia>


        </div>



    </div>
</main>