<div class="tabela principal">
    <h3>{{tableTitle}}</h3>
    <br>
    <table>
        <tr>
            <td class="tb_left">{{contentOneLeft}}</td>
            <td>{{contentOne}}</td>
        </tr>
        <tr>
            <td class="tb_left">{{contentTwoLeft}} </td>
            <td>{{contentTwo}}</td>
        </tr>
        <tr>
            <td class="tb_left">{{contentThreeLeft}}</td>
            <td>{{contentThree}}</td>
        </tr>
        <tr>
            <td class="tb_left">{{contentFourLeft}}</td>
            <td>{{contentFour}}</td>
        </tr>
    </table>


</div>