.conteudo_req {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    margin: 0;

}

.conteudo {
    width: 50%;
}

td,
th {
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #537e8279;
}