<main class="season_swagger">
    <div id="caixa" class="sob ">

        <span class="space">
            <h1 class="name "> Swagger</h1>
        </span>
        <div class="principal">
            <h3 class="name">Introdução</h3>
            <p>
                O Swagger é um software opensource com um conjunto de ferramentas
                profissionais, no qual ajuda no trabalho de desenvolvimento de APIs.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Fazendo uso do Swagger o desenvolvedor poderá fazer a modelagem de uma
                API, poderá documentar e mesmo gerar código para o desenvolvimento de APIs.
            </p>
        </div>
    </div>

    <div id="caixa">
        <app-card-swagger id="1" contentName="Imagens dos endpoint realizados com Swagger"
            contentImg="assets/Image/swagger/AllEndpoints.png"></app-card-swagger>
    </div>

    <div id="caixa" class="principal space">
        <h1 class="name" style="font-size: xx-large;">USUÁRIOS</h1>
    </div>
    <div id="caixa" class="box_img">

        <app-card-swagger id="2" contentName="Get (Usuário)" contentImg="assets/Image/swagger/User/GetUser.png">
        </app-card-swagger>
        <app-card-swagger id="3" contentName="Get By Id (Usuário)"
            contentImg="assets/Image/swagger/User/GetByIdUser.png">
        </app-card-swagger>
        <app-card-swagger id="4" contentName="Put (Usuário) " contentImg="assets/Image/swagger/User/PutUser.png">
        </app-card-swagger>
        <app-card-swagger id="5" contentName=" Put - retorno (Usuário)"
            contentImg="assets/Image/swagger/User/PutUserReturn.png">
        </app-card-swagger>
        <app-card-swagger id="6" contentName="Post (Usuário)" contentImg="assets/Image/swagger/User/PostUser.png">
        </app-card-swagger>
        <app-card-swagger id="7" contentName="Delete (Usuário)" contentImg="assets/Image/swagger/User/DeleteUser.png">
        </app-card-swagger>
    </div>
    <div id="caixa" class="principal space">
        <h1 class="name" style="font-size: xx-large;">LIVRO</h1>
    </div>
    <div id="caixa" class="box_img">
        <app-card-swagger id="8" contentName="Get (Livro)"
            contentImg="assets/Image/swagger/Book/GetBook.png"></app-card-swagger>
        <app-card-swagger id="9" contentName="Get By Id (Livro)"
            contentImg="assets/Image/swagger/Book/getByIdBook.png"></app-card-swagger>
        <app-card-swagger id="10" contentName="Put (Livro) "
            contentImg="assets/Image/swagger/Book/PutBook.png"></app-card-swagger>
        <app-card-swagger id="11" contentName="Put - retorno (Livro)"
            contentImg="assets/Image/swagger/Book/PutReturnBook.png">
        </app-card-swagger>
        <app-card-swagger id="12" contentName="Post (Livro)" contentImg="assets/Image/swagger/Book/PostBook.png">
        </app-card-swagger>
        <app-card-swagger id="13" contentName="Delete (Livro)" contentImg="assets/Image/swagger/Book/DeleteBook.png">
        </app-card-swagger>
    </div>
    <div id="caixa" class="space principal">
        <h1 class="name" style="font-size: xx-large;">LOGIN</h1>
    </div>
    <div id="caixa" class="box_img">
        <app-card-swagger id="14" contentName="Login" contentImg="assets/Image/swagger/Login.png">
        </app-card-swagger>
        <app-card-swagger id="15" contentName="(Retorno) - Login" contentImg="assets/Image/swagger/LoginReturn.png">
        </app-card-swagger>
    </div>
</main>