<div id="caixa" class="sob principal ">
    <div id="caixa" class="principal space">
        <h1 class="name" style="font-size: xx-large;">Swagger - Endpoints</h1>
    </div>

    <h4> <span class="name">{{contentName}}</span> </h4>
    <hr>
    <div class=" img-postagem">
        <img src="{{contentImg}}" alt="{{descriptionImg}}">
    </div>
    <br>
    <div class="img_text">
        <p>{{conteudo}}</p>
    </div>
    <div class="space-button">
        <a [routerLink]="['/swagger']"><img
                src="https://icongr.am/fontawesome/arrow-circle-o-left.svg?size=39&color=ffffff">Voltar</a>

    </div>
</div>