<main id="caixa" class="sob  ">
    <div class="principal">
        <h1>Teste - xUnit.net</h1>
        <h3 class="sob">
            Para a realização do teste desta api foi utilizado como ferramenta o <span class="name">xUnit.net</span> .
        </h3>
        <p>
            <span class="name">Sobre o xUnit:</span>
            xUnit.net é uma ferramenta de teste gratuita, open source. Focada para o .NET Framework. É a tecnologia mais
            recente para teste de unidade em C#, F#, VB.NET entre outras linguagens.
        </p>
        <div class="space-button">
            <a href="https://xunit.net/" target="_blank"> Para mais informações sobre esta ferramenta acesse aqui <img
                    src="https://icongr.am/fontawesome/arrow-circle-o-right.svg?size=28&color=f55d0b"></a>
        </div>
    </div>
    <div class="principal content_xunit">
        <h3>Criando projeto</h3>
        <app-xunit id="1"></app-xunit>
        <app-xunit id="2"></app-xunit>
        <app-xunit id="3"></app-xunit>
        <app-xunit id="4"></app-xunit>
        <app-xunit id="5"></app-xunit>
        <app-xunit id="6"></app-xunit>
        <app-xunit id="7"></app-xunit>
    </div>
    <div class="principal">
        <h3>Diário de Teste</h3>
        <br>
        <app-tb-controle></app-tb-controle>

    </div>

</main>