<section class=" season_projeto render_li">
    <div id="caixa" class="sob ">
        <div id="caixa" class="principal space">
            <h1 class="name" style="font-size: xx-large;">Projeto API - LibraryAPI</h1>
        </div>
        <div class="principal">
            <h3>Para a realização do desenvolvimento da Api, foi utilizada as seguintes ferramentas:</h3>
            <br>
            <ul>
                <li>Visual Studio 2022</li>
                <li>Azure Data Studio</li>
                <li>Docker - Sql Server</li>
                <li>Insomnia</li>
            </ul>

        </div>

        <h1 class="principal">Conteúdo desenvolvido </h1>
        <span class="space"></span>

        <div class="principal">
            <h3 class="name">Introdução</h3>
            <br>
            <p>
                Desenvolvimento de uma API Restfull, desenvolvida para retorno em
                formato Json (método mvc). Adicionando camada de repositório responsável pelo tráfego e dados da
                aplicação com o banco de dados.
                <br>
                Atividade proposta em desenvolvimento guiada em aula, juntamente ao
                tutor, em forma de aprendizado para desenvolvimento de APIs.
            </p>
            <br>

            <h3>Passa acessar o projeto da API no Github acesse o link abaixo:</h3>
            <div class="dados">
                <a href="https://github.com/GiseleMN/LibraryApi" target="_blank"><img src="assets/Image/Octocat.png">
                    Projeto livraria API - GitHub</a>
            </div>
        </div>
        <br>
        <div class="principal">
            <h3 class="name">Descrição Geral</h3>
            <br>
            <p>
                Esse projeto foi desenvolvido de forma a simular um sistema de backend para uma livraria, no qual será
                implementdo duas entidades para inserção de dados, sendo a classe de usuário(Users), e a classe de
                livros( Book). Cada classe com suas propriedades específicas, sendo que :
            </p>
            <div class="space">
                <h4>Dentro da classe usuário (User),terá as seguintes propriedades:</h4>

                <app-li-bicolor id="1"></app-li-bicolor>
                <app-li-bicolor id="2"></app-li-bicolor>
                <app-li-bicolor id="3"></app-li-bicolor>

                <br>
                <h4>Dentro da classe livro (Book),terá as seguintes propriedades:</h4>
                <ul>
                    <app-li-bicolor id="4"></app-li-bicolor>
                    <app-li-bicolor id="5"></app-li-bicolor>
                    <app-li-bicolor id="6"></app-li-bicolor>
                    <app-li-bicolor id="7"></app-li-bicolor>
                </ul>
            </div>
        </div>
        <br>
        <div class="principal">
            <h3 class="name">Descrição de desenvolvimento do projeto</h3>

            <div>
                <h4>1 - Desenvolvimento da API - implementação de pacotes Nugget</h4>

                <app-li-bicolor id="8"></app-li-bicolor>
                <app-li-bicolor id="9"></app-li-bicolor>
                <app-li-bicolor id="10"></app-li-bicolor>
                <app-li-bicolor id="11"></app-li-bicolor>
                <br>
                <app-li-bicolor id="12"></app-li-bicolor>
                <app-li-bicolor id="13"></app-li-bicolor>
            </div>

            <h3 class="name space sob">Para mais informações: aperte na seta e acesse o link em cada item abaixo.</h3>


            <app-card-projeto id="17" contentName="Pacote de Nugget" contentImg="assets/Image/imgProjeto/nugets.png"
                descriptionImg="img_nugget">
            </app-card-projeto>


        </div>

        <div class=" space sob ">
            <h3>Desenvolvendo classe Entidade Livro e Usuário</h3>
        </div>
        <p>
            Os Objetos são classes que representam algo do mundo real, com suas propriedades.
            Por exemplo :um usuário, um livro, um produto, etc.
        </p>
        <p>
            Nesse projeto vemos dois objetos (Livro , Usuário), cada um com suas
            propriedades ( dados ) para o desenvolvimento da aplicação.
        </p>

        <div class="box_img">
            <app-card-projeto id="1" contentName="Classe usuário" contentImg="assets/Image/imgProjeto/userEntity.png"
                descriptionImg="class_user_img">
            </app-card-projeto>

            <app-card-projeto id="2" contentName="Classe Livro" contentImg="assets/Image/imgProjeto/BookEntity.png"
                descriptionImg2="class_book_img">
            </app-card-projeto>

        </div>
        <div class="space sob">
            <h3>Desenvolvendo Classe Context - Configuração para o banco de dados</h3>
        </div>
        <p>
            Classe Context, realizamos as configurações para o banco de dados, podemos também implementar a estrutura
            para as funcionalidades do
            Entity Framework para o modelo de dados, fazemos essa configuração dos dados fazendo uso da Fluent Api.

        </p>


        <div class="box_img">
            <app-card-projeto id="3" contentName="Classe Context" contentImg="assets/Image/imgProjeto/ClassContext.png"
                descriptionImg="Class_context">
            </app-card-projeto>
        </div>

        <div class="sob">
            <h3 class="space">Configurações da Classe Program</h3>
            <p>
                A Classe Program é a classe principal, onde instanciamos rotas, autenticações, autorizações, etc.
            </p>

            <h4>Configurações de Serviços / Adicionando Cors ( Restrição de política de mesma origem)/ Adicionando JWT
                Bearer</h4>
        </div>
        <div class="box_img">
            <app-card-projeto id="4" contentImg="assets/Image/imgProjeto/Program.png"
                contentName="Classe Program /inclusão do:Cors">
            </app-card-projeto>
            <app-card-projeto id="5" contentImg="assets/Image/imgProjeto/Program -2.png"
                contentName="(JwtBeare / Swagger)">
            </app-card-projeto>
        </div>
        <div class="space sob">
            <h3>Migrations & Banco de Dados</h3>
        </div>
        <p>
            Fazendo uso da ferramenta Entity Framework Tools, realizamos migração dos dados dos
            objetos modelos (User, Book). O recurso de migração diponibilizado pela EFCore permite criar novas
            entidades, propriedades, que podem ser adicionadas, atualizadas, ou removidas e os esquemas de banco de
            dados que será utilizada pela aplicação de forma sincronizada com o modelo de dados da aplicação.

        </p>
        <br>
        <div class="box_img">
            <app-card-projeto id="6" contentName="Conteúdo Migration"
                contentImg="assets/Image/imgProjeto/Migration.png"></app-card-projeto>
        </div>

        <div class="box_img">
            <app-card-projeto id="7" contentImg="assets/Image/imgProjeto/dbBook.png"
                contentName="Entidade livro no Banco de Dados"></app-card-projeto>
            <app-card-projeto id="8" contentName="Entidade Usuário no Banco de Dados"
                contentImg="assets/Image/imgProjeto/dbUser.png"></app-card-projeto>

        </div>
        <br>
        <div class=" space sob">
            <h3>Interfaces </h3>
        </div>
        <p>
            Classe Interface: interface de visualização de dados referenciados (métodos CRUD
            -Create/Read/Update/Delete).

        </p>
        <div class="box_img">
            <app-card-projeto id="9" contentName="User Interface"
                contentImg="assets/Image/imgProjeto/UserInterface.png"></app-card-projeto>
            <app-card-projeto id="10" contentName="Book Interface"
                contentImg="assets/Image/imgProjeto/bookInterface.png"></app-card-projeto>
        </div>

        <div class="space sob">
            <br>
            <h3> Repositórios </h3>
        </div>
        <p>
            Camada responsável por trabalhar com a fonte de dados da aplicação , manipulação da
            lógica de acesso dos dados que será chamado na program fazendo uso da interface. Por meio dessa classe que
            se faz verificações dos dados consultados, existentes no banco de dados.

        </p>
        <br>

        <div class="box_img">
            <app-card-projeto id="11" contentName="User Repository "
                contentImg="assets/Image/imgProjeto/UserRepository.png"></app-card-projeto>
            <app-card-projeto id="12" contentName="Book Repository"
                contentImg="assets/Image/imgProjeto/BookRepository.png">
            </app-card-projeto>
        </div>
        <div class="space sob">
            <br>
            <h3> Classes Controles</h3>
        </div>
        <p>
            Controle de acesso a API por meio dos endpoints, realizando métodos para criar,
            listar, atualizar, deletar dados de um objeto. O controle de acesso por meio dos endpoints é importante para
            restringir o acesso a API. Nos Controladores se encontra a regra de negócio implementando a API a parte de
            segurança por meio e autorizações e autenticações.

        </p>
        <br>
        <div class="box_img">
            <app-card-projeto id="13" contentName="User Controller "
                contentImg="assets/Image/imgProjeto/UserController.png"></app-card-projeto>
            <app-card-projeto id="14" contentName="Book Controller"
                contentImg="assets/Image/imgProjeto/BookController.png">
            </app-card-projeto>
        </div>
        <div class="space sob">
            <br>
            <h3> Login View Model / Login Controller</h3>
        </div>
        <br>
        <div class="box_img">
            <app-card-projeto id="15" contentName="LoginViewModel"
                contentImg="assets/Image/imgProjeto/LoginViewModel.png"></app-card-projeto>
            <app-card-projeto id="16" contentName="Login Controller"
                contentImg="assets/Image/imgProjeto/LoginController.png">
            </app-card-projeto>
        </div>

    </div>
</section>