.img-postagem img {
    width: 400px;
    height: 350px;
    border-radius: 5px;
}

.img-postagem:hover {
    transition: 2s;
    transform: scale(2.2);
}

@media screen and (max-width:800px) {
    .img-postagem:hover {
        transition: 2s;
        transform: scale(1.5);
    }
}