<main class="season_swagger">
    <div id="caixa" class="sob ">

        <span class="space">
            <h1 class="name "> Swagger</h1>
        </span>
        <div class="principal">
            <h3 class="name">Introdução</h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;O Swagger é um software opensource com um conjunto de ferramentas
                profissionais, no qual ajuda no trabalho de desenvolvimento de APIs.
                <br>
                &nbsp;&nbsp;&nbsp;&nbsp;Fazendo uso do Swagger o desenvolvedor poderá fazer a modelagem de uma
                API, poderá documentar e mesmo gerar código para o desenvolvimento de APIs.
            </p>
        </div>
    </div>
    <br>
    <div id="caixa" class="principal ">
        <h3 class="space">Imagens dos endpoint realizados com Swagger</h3>
    </div>
    <div id="caixa" class="box_img ">
        <app-swagger-season id="1" contentImg="assets/Image/swagger/AllEndpoints.png"></app-swagger-season>
    </div>
    <br>
    <div id="caixa" class="principal space">
        <h1 class="name" style="font-size: xx-large;">USUÁRIOS</h1>
    </div>
    <div id="caixa" class=" box_img">

        <app-swagger-season id="1" contentName="Get (Usuário)"
            contentImg="assets/Image/swagger/User/GetUser.png"></app-swagger-season>
        <app-swagger-season id="" contentName="Get By Id (Usuário)"
            contentImg="assets/Image/swagger/User/GetByIdUser.png"></app-swagger-season>

        <app-swagger-season id="2" contentName="Put (Usuário) " contentName2=" Put - retorno (Usuário)"
            contentImg="assets/Image/swagger/User/PutUser.png"
            contentImg2="assets/Image/swagger/User/PutUserReturn.png">
        </app-swagger-season>
        <app-swagger-season id="3" contentName="Post (Usuário)" contentName2="Delete (Usuário)"
            contentImg="assets/Image/swagger/User/PostUser.png" contentImg2="assets/Image/swagger/User/DeleteUser.png">

        </app-swagger-season>
    </div>
    <div id="caixa" class="principal space">
        <h1 class="name" style="font-size: xx-large;">LIVRO</h1>
    </div>
    <div id="caixa" class="box_img">
        <app-swagger-season id="4" contentName="Get (Livro)"
            contentImg="assets/Image/swagger/Book/GetBook.png"></app-swagger-season>
        <app-swagger-season id="4" contentName="Get By Id (Livro)"
            contentImg="assets/Image/swagger/Book/getByIdBook.png"></app-swagger-season>
        <app-swagger-season id="5" contentName="Put (Livro) "
            contentImg="assets/Image/swagger/Book/PutBook.png"></app-swagger-season>
        <app-swagger-season id="5" contentName="Put - retorno (Livro)"
            contentImg="assets/Image/swagger/Book/PutReturnBook.png">
        </app-swagger-season>
        <app-swagger-season id="6" contentName="Post (Livro)" contentImg="assets/Image/swagger/Book/PostBook.png">
        </app-swagger-season>
        <app-swagger-season id="6" contentName="Delete (Livro)" contentImg="assets/Image/swagger/Book/DeleteBook.png">
        </app-swagger-season>
    </div>
    <div id="caixa" class="space principal">
        <h1 class="name" style="font-size: xx-large;">LOGIN</h1>
    </div>
    <div id="caixa" class="box_img">
        <app-swagger-season id="" contentName="Login" contentImg="assets/Image/swagger/Login.png">
        </app-swagger-season>
        <app-swagger-season id="7" contentName="(Retorno) - Login" contentImg="assets/Image/swagger/LoginReturn.png">
        </app-swagger-season>
    </div>



</main>