.titulo {
    font-size: 25px;
    margin-top: 20px;
    font-style: italic;
    text-transform: uppercase;
    background: linear-gradient(to right, #85ced844 10%, transparent);
    border-radius: 10px;
}

.logo-teste {
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.resumo {
    margin: 60px;
}

.listagem {
    margin: 25px;
}

.listagem li {
    margin: 5px 10px;
}

.li_list {
    list-style: decimal;
}

h2 {
    padding: 10px;
    margin: 15px;
    font-size: 30px;
    color: #399293;
}

h3 {
    font-size: 25px;
    margin: 10px;
}

h4 {
    margin-top: 10px;
}

.item_tabela {
    display: flex;
    justify-content: flex-start;
}

.th_requisitos {
    width: 130px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #537e8279;
}

.th_conteudo {
    width: 50%;
}

.conteudo_req {
    width: 200%;
    display: flex;
    justify-content: flex-start;
    margin: 0;

}

.tb_conteudo_cronograma {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.titulo_cronog {
    width: 42%;

}

.datas_cronograma {
    width: 21%;
}

.doc_controle {
    width: 100%;
    margin-bottom: 50px;

}

.modelo {
    width: 80vw;

}