<main class="paragrafos five_conteudo itens_four">
    <div id="caixa" class="sob principal ">
        <div class="titulo">
            <h1>Plano de testes</h1>
        </div>
        <div class="resumo">
            <p>
                Plano de testes da API Restfull da EXOAPI, para sistema de biblioteca. Teste de
                Back-End, para sistema de cadastro de usuário e consulta de livros.
            </p>
        </div>
        <img class="logo logo-teste" src="assets/Image/Connect.png" alt="Logo ">
    </div>
    <div id="caixa" class="tabela">
        <table>
            <tr>
                <td class="tb_left">Gerente:</td>
                <td>Senai - Matheus Holannda <b>(gerente do projeto)</b></td>
            </tr>
            <tr>
                <td class="tb_left">Líder:</td>
                <td> Gisele Nisimura (líder de produção desse preojeto)</td>
            </tr>
            <tr>
                <td class="tb_left">Membros:</td>
                <td>

                    <li>
                        <h4>Equipe 1</h4>
                        <ul>

                            <li>--</li>
                            <li>--</li>
                            <li>--</li>
                        </ul>
                    </li>
                    <li>
                        <h4>Equipe 2</h4>
                        <ul>

                            <li>--</li>
                            <li>--</li>
                            <li>--</li>
                        </ul>
                    </li>

                </td>
            </tr>
            <tr>
                <td class="tb_left">Linha do Tempo:</td>
                <td> 22/03/2023 </td>
            </tr>
            <tr>
                <td class="tb_left">Projeto:</td>
                <td>LibraryAPi</td>
            </tr>
        </table>
        <h4 class="tb_left sob">Acesso ao conteúdo do teste:</h4>
        <div class="space-button ">
            <a [href]="['teste-xunit']" style="color: aliceblue; font-size:x-large;">Teste - xUnit<img
                    src="https://icongr.am/fontawesome/arrow-circle-o-right.svg?size=35&color=f55d0b"> </a>
        </div>


    </div>

    <div id="caixa">
        <div class="space">
            <h2>Histórico de Revisões</h2>
        </div>
        <div class="tabela">

            <table>
                <tr>
                    <th class="tb_left">
                        Data</th>
                    <th class="tb_left">
                        Versão</th>
                    <th class="tb_left">
                        Descrição</th>
                    <th class="tb_left">
                        Autor</th>
                </tr>
                <tr>
                    <td>11 / 03 / 2023</td>
                    <td>1.0</td>
                    <td>Projecão Inicial</td>
                    <td>LibraryAPi</td>
                </tr>

            </table>
        </div>
    </div>
    <div id="caixa">

        <div class="space centralizando">
            <h1>Detalhes do Projeto</h1>
        </div>
        <div class="resumo listagem">
            <div class="name centralizando ">
                <h1>Introdução</h1>
            </div>
            <p>
                A Testful é uma empresa de desenvolvimento de software focada em testes para garantir a segurança,
                confiabilidade e consistência de softwares e implementações.
            </p>
            <p>
                Qual a importância de testes?.. Implementação de testes em Softwares garante a integridade , a
                consistência dos dados e as informações por ele disponibilizadas.
            </p>
            <div class="name centralizando">
                <h1>Objetivos e Propósitos</h1>
            </div>
            <div>

                <h2>ExoAPI (Contratante)</h2>
                <p>
                    A ExoApi é uma empresa de desenvolvimento de softwares focada em
                    desenvolver
                    aplicações para empresas de grande e médio porte, além de construção de Web Applications, Web Sites,
                    Local
                    Systems , focando sempre em dar um produto seguro.
                </p>
                <p>
                    Para isso, o sistema desenvolvido precisa de uma análise de teste em
                    sua
                    aplicação desenvolvida com base numa aplicação de biblioteca, no qual usuários farão busca da
                    disponibilidade de um livro, para isso o usuário necessita ter cadastro de acesso, tendo como
                    segurança
                    de
                    log o uso de token.
                </p>
                <app-itens-five id="1"></app-itens-five>

                <h2>Objetivos</h2>
                <p>
                    Com o objetivo da implantação de uma nova plataforma que será utilizada para organização e busca de
                    cadastros de usuários e livros de uma biblioteca, na qual fará cadastro de usuários e livros, bem
                    como a requisição dos mesmos, além da necessidade da alteração desses cadastros, como atualização,
                    disponibilidade, ou remoção dos mesmos.
                </p>
                <app-itens-five id="2"></app-itens-five>
            </div>
            <div class="name centralizando">
                <h1> Escopo</h1>
            </div>
            <div>
                <p>
                    A LibApi passará por testes unitários, testes de integração e de sistema. Os testes unitários e de
                    integração vão lidar com a qualidade funcional, das bases de dados, de controle de acesso, enquanto
                    os teste de sistemas tratarão as questões de performance. Os testes de performance entre o banco de
                    dados será :
                </p>
                <ul>
                    <li>
                        na correta atualização de um cadastro no banco de dados, tanto ao cadastrar como ao atualizar
                        (em
                        todas entidades)
                    </li>
                    <li>
                        criar token ao realizar um login, bem como erro com dados inválidos
                    </li>
                </ul>
            </div>
            <div class="name centralizando">
                <h1> Objetivos do Teste de sistema</h1>
            </div>
            <div>
                <h4>O Teste de sistema tem o objetivo de provar que :</h4>
                <ul>
                    <li>
                        A funcionalidade entregue pela equipe de desenvolvimento, está de acordo com as
                        especificações
                        da
                        documentação de requisitos.
                    </li>
                    <li>
                        O software é de alta qualidade; o software vai substituir as/dar suporte às funções de
                        negócio
                        desejadas e alcançar os padrões requisitados pela companhia para o desenvolvimento de novos
                        sistemas.
                    </li>
                    <li>
                        O software entregue faz a interface correta com os sistemas existentes.
                    </li>
                </ul>

                <h2>1 - Especificações do Projeto de Teste</h2>
                <h3><u>1.1 - Processo de Teste</u></h3>
                <app-itens-five id="3"></app-itens-five>
                <p>
                    A tabela abaixo identifica a documentação e disponibilidade usados para
                    desenvolver o plano de teste:
                </p>
                <table class="tb_requisitos">
                    <tr class=" conteudo_req">
                        <th class=" tb_left th_conteudo ">Documento</th>
                        <th class=" tb_left th_requisitos ">Disponível / Criado</th>
                        <th class=" tb_left th_requisitos "> Recebido / Revisado</th>
                    </tr>
                    <app-tb-requisitos id="1"></app-tb-requisitos>
                    <app-tb-requisitos id="2"></app-tb-requisitos>
                    <app-tb-requisitos id="3"></app-tb-requisitos>
                    <app-tb-requisitos id="4"></app-tb-requisitos>
                    <app-tb-requisitos id="5"></app-tb-requisitos>
                    <app-tb-requisitos id="6"></app-tb-requisitos>
                    <app-tb-requisitos id="7"></app-tb-requisitos>
                    <app-tb-requisitos id="8"></app-tb-requisitos>
                </table>
                <h2><u> 1.2 - Estratégia de Teste</u></h2>
                <h3><u>Requisitos a testar </u></h3>

                <div class="conteudo_teste">
                    <h4>Identificação de itens - casos de uso, requisitos funcionais - o que será
                        testado </h4>
                    <br>
                    <app-conteudo id="1"></app-conteudo>
                    <app-conteudo id="2"></app-conteudo>
                    <app-conteudo id="3"></app-conteudo>
                    <app-conteudo id="4"></app-conteudo>
                    <app-conteudo id="5"></app-conteudo>
                </div>

                <h2><u>1.3 - Critérios de entrada / saída</u></h2>
                <p>
                    Os critérios de entrada e saída do sistema devem ser atendidos antes que o teste de sistema comece.
                    Por
                    recomendação, solicita-se que haja no mínimo 2 dias a um teste final de integração após a última
                    versão
                    for testada.
                </p>
                <app-itens-four id="1"></app-itens-four>
                <p>
                    <u>Teste de aceitação :</u>para atingir o critério de aceitação os testes devem ser completados com
                    sucesso, com taxa de 80% de aceitação , isso significa que erros encontrados durante os testes de
                    aceitação não devem impedir que ao menos 80% do teste tenham seus testes completados. Lembrando que
                    esses testes não tem a intenção de fazer um teste profundo do software. Caso havendo a necessidade
                    de
                    suspensão do teste do sistema , critérios de recomeço devem ser especificados, e os teste não devem
                    recomeçar enquanto o software não atender os critérios.
                </p>
                <app-itens-four id="2"></app-itens-four>
                <img class="modelo" src="assets/Image/imgExterna/ModeloV.png" alt="modelo_vs">
                <h2>2 - Tipo teste</h2>
                <p>
                    Os testes serão realizados de forma automatizada fazendo uso de uma ferramenta de testes, focando em
                    entregar um software com suas funcionalidades , dando retorno dados com base nas funcionalidades
                    para as
                    quais foram projetadas. É esperado que o benefício total do teste automatizado ocorra somente quando
                    os
                    testes tenham sido executados três ou mais vezes.
                </p>
                <div class="table_area ">
                    <app-tabela-content id="1"></app-tabela-content>
                    <app-tabela-content id="2"></app-tabela-content>
                    <app-tabela-content id="3"></app-tabela-content>
                </div>
                <h4>2.4 - Teste de aceitação operacional ( TAO )</h4>
                <p>
                    Teste a ser realizado pela equipe de instalação e suporte de sistema, antes de implantar o sistema
                    propriamente dito. Esta equipe vai definir seus próprios critérios de testes e aplicá-los.
                </p>
                <h2>3 - Fases e Ciclos de testes</h2>
                <h4>3.1 - Ciclos de testes de sistema</h4>
                <p>
                    A principal estratégia é testar a aplicação tendo uma liberação caso seu retorno positivos tenha
                    aproximadamente 80% dos erros corrigidos neste período. Com a maioria dos erros consertados, ações
                    padrão usadas serão testadas para provar elementos individuais e o processamento total do sistema na
                    liberação até a fase 3 dos testes.
                </p>
                <p>
                    Quando os erros ( que potencialmente impactam o processamento geral ) forem consertados, um conjunto
                    adicional de casos de teste são processados na liberação para assegurar que o sistema funcione de
                    maneira integrada. Não deve haver erros antes do início da fase 4 de testes para a liberação.
                </p>
                <h4>3.2 - Entrega de software</h4>
                <p>
                    Durante o teste de sistema, a liberação de novas versões do software deve ser coordenadas entre o
                    líder
                    da equipe de desenvolvimento e o analista de negócio de teste de sistema. No entanto caso haja erros
                    de
                    alta precisão, novas versões só devem ser liberadas quando os objetivos concordados sejam alcançados
                    ( a
                    versão seguinte não deve conter erros, mas deve-se realizar a correção de erros e bugs antes da
                    liberação do mesmo).
                </p>
            </div>
            <div class="name centralizando">
                <h1> Cronograma</h1>
            </div>
            <div class="tabela tb_cronograma">
                <table class="tb_conteudo_cronograma">
                    <tr>
                        <th class="tb_left titulo_cronog ">Histórico</th>
                        <th class="tb_left datas_cronograma">Data de Início</th>
                        <th class="tb_left datas_cronograma">Data de Término</th>
                    </tr>
                    <app-cronograma id="1"></app-cronograma>
                    <app-cronograma id="2"></app-cronograma>
                    <app-cronograma id="3"></app-cronograma>
                    <app-cronograma id="4"></app-cronograma>
                    <app-cronograma id="5"></app-cronograma>
                </table>

                <p>
                    Segue alguns exemplos de cronogramas de testes que servirão de exemplos, mas que provavelmente não
                    correspondem exatamente com o resto do plano de teste:
                </p>
                <img class="modelo" src="assets/Image/imgExterna/BlogTeste.jpg" alt="img_Blog_privado">
                <a href="http://gustavoquezada.blogspot.com/2009/08/relatorio-parcial-de-execucao-de-teste.html ">blog
                    privado: http://gustavoquezada.blogspot...</a>
                <br>

                <img class="modelo" src="assets/Image/imgExterna/grafico.png" alt="Blog_Privado_img">
                <a href="https://gestaodesegurancaprivada.com.br/conceito-de-cronograma-que-e-definicao/">Blog de gestão
                    privada: https://gestaodesegurancaprivada.....</a>
                <br>
                <img class="modelo" src="assets/Image/imgExterna/cronograma.png" alt="">
                <a
                    href="https://matheusferreira.wordpress.com/2010/08/07/cronograma-do-projeto">https://matheusferreira.wordpress....</a>

            </div>
            <div class="name centralizando ">
                <h1> Recursos</h1>
            </div>
            <div>
                <p>
                    Hardware - sistema montado com um ambiente padrão do negócio. Para manter a integridade do ambiente
                    de
                    teste , sua rede não deve ser acessível a ninguém de fora do projeto. Inclusive Impressoras devem
                    ser
                    exclusivamente para o uso da rede de teste.
                </p>
                <div class="tabela">
                    <h4>
                        A tabela abaixo mostra os recursos do sistema para o projeto:
                    </h4>
                    <table>
                        <tr>
                            <td class="tb_left">Banco de dados:</td>
                            <td>
                                <ul>
                                    <li>Azure DataBase Studio</li>
                                    <li>Docker (container/ persistencia em volume)</li>
                                    <li>servidor SQL Server</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <td class="tb_left">Terminais de Teste:</td>
                            <td> 2 PCs</td>
                        </tr>
                        <tr>
                            <td class="tb_left">Ferramenta de desenvolvimento:</td>
                            <td>Visual Studio 2022</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="name centralizando ">
                <h1> Papéis e Responsabilidades</h1>
            </div>
            <div>
                <h2>1 - Equipe de gerenciamento</h2>
                <br>
                <app-itens-four id="3"></app-itens-four>
                <br>
                <app-itens-four id="4"></app-itens-four>
                <h2>2 - Equipe de teste</h2>
                <app-itens-eight id="1"></app-itens-eight>
                <app-itens-four id="5"></app-itens-four>

                <h2>3 - Equipe de suporte</h2>
                <app-itens-five id="4"></app-itens-five>
                <br>
                <h2>4 - Gerenciamento de erro & gerenciamento de configuração</h2>
                <app-itens-four id="6"></app-itens-four>
                <p>
                    Erros válidos - esses serão concordados e categorizados pela equipe de revisão de erros da seguinte
                    forma:
                </p>
                <ul>
                    <li>
                        A) ERROS SÉRIOS - que impedem a continuidade do teste de sistema de função em particular, graves
                        erros de dados
                    </li>
                    <li>
                        B) ERROS RELATIVOS - dados sérios que não impedem a implementação
                    </li>
                    <li>
                        C) PEQUENOS ERROS - erros que não impedem nem afetam a funcionalidade
                    </li>
                </ul>
                <p>
                    Caso os erros seja sérios devem ser eliminados pela equipe de correções de bugs em 48hrs a partir da
                    detecção do erro. Se erro impeça o teste de sistema de continuar, a eliminação deve ser dentro de 4
                    hrs.
                </p>
                <p>
                    Caso os erros seja relativos, deve ser solucionado em 24 hrs e os pequenos erros podem ser
                    solucionados
                    em até 3 dias. No entanto a liberação de novas versões do software devem ser coordenadas com o
                    analista
                    de teste - novas versões devem ser liberadas quando concordadas, que haja um benefício definitivo
                    com
                    correções e sem bugs.
                </p>
            </div>

            <div class="name centralizando ">
                <h1> Questões / Riscos / Premissas</h1>
            </div>
            <h2>1 - Questões / Riscos</h2>
            <h4>1 - Mudanças e inclusões não serão consideradas para esta versão, exceto : </h4>
            <ul>
                <li>onde houver permissão onde houver permissão onde houver permissão </li>
                <li>onde as mudanças / inclusões não requeiram significativo esforço da equipe e não afetem o cronograma
                    de teste.</li>
            </ul>
            <p>Devendo levar bastante em conta esses pontos pelo fato de que qualquer mudança significativa, pois
                qualquer grande mudança no desenho vai requerer tempo adicional para replanejar o teste e para criar
                condições de teste suplementares.</p>
            <h4>Responsável:........................</h4>
            <p>2 - O desenho do software deve ser final, e a documentação deve ser completa, informativa e finalizada
                por todas as partes antes que o teste de sistema comece.</p>
            <h4>Responsável:........................</h4>

            <h2>2 - Premissas</h2>
            <app-itens-eight id="2"></app-itens-eight>

            <h2>Pauta de reunião da equipe de revisão de erros</h2>
            <app-itens-five id="5"></app-itens-five>
            <h4>Classificação de Bugs:</h4>
            <ul>
                <li>
                    <h4>A) Que travam o sistema:</h4>
                    <ul>
                        <li>Dados incorretos são passados ao sistema em corrompimento ou travamento do sistema</li>
                        <li>Retorno incorreto de dados</li>
                    </ul>
                </li>
                <li>
                    <h4>B) classificados relevantes quando:</h4>
                    <ul>
                        <li>Afetam um elemento menos importante da funcionalidade. Ex: um default de um valor não está

                            correto e precisa ser corrigido manualmente.
                        </li>
                        <li>dados afetados não tem um grande impacto. Ex: um dado enviado de forma incorreta</li>
                    </ul>
                </li>
                <li>
                    <ul>
                        <h4>C) Classificados como inofensivos: </h4>
                        <li>ex: opções em duplicidade</li>
                    </ul>

                </li>
            </ul>
            <br>
            <h2>Procedimento para manutenção de sistema de registro de erros</h2>
            <app-itens-eight id="3"></app-itens-eight>

            <ul>
                <li class="li_list">Evita esforço desnecessário dos testadores</li>
                <li class="li_list">Põe o desenvolvedor imediatamente a par do problema</li>
                <li class="li_list">Permite que o desenvolvedor adicione mecanismos necessários para localizar o erro
                </li>
            </ul>
            <br>
            <div>
                <h2>Documentação de Controle</h2>

                <div class="doc_controle">
                    <app-doc-controle id="1"></app-doc-controle>
                    <app-doc-controle id="2"></app-doc-controle>
                    <app-doc-controle id="3"></app-doc-controle>
                    <app-doc-controle id="4"></app-doc-controle>
                </div>
                <app-tb-controle></app-tb-controle>
            </div>
            <div class="tabela2">
                <h1>Aprovação do Projeto</h1>
                <table>
                    <tr>
                        <td>
                            <p>Preparado por:</p>
                        </td>
                        <td>
                            <p>Aprovado por:</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="tab–hr">
                            <h5>
                                <hr>
                            </h5>
                            <p>cargo</p>
                            <br>
                        </td>
                        <td>
                            <h5>
                                <hr>
                            </h5>
                            <p>cargo</p>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <h5>
                                <hr>
                            </h5>
                            <p>DD / MM / AAAA</p>
                        </td>
                        <td>
                            <h5>
                                <hr>
                            </h5>
                            <p>DD / MM / AAAA</p>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

</main>