<div>
    <tr>
        <th *ngFor=" let tb_titulo of tb_titulo " class="tb_left">{{tb_titulo}}</th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="opcoes_aprovado">
            <input value="sim" type="radio">
            <label>Sim</label>
        </td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="opcoes_aprovado">
            <input value="sim" type="radio">
            <label>Sim</label>
        </td>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="opcoes_aprovado">
            <input value="sim" type="radio">
            <label>Sim</label>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="opcoes_aprovado">
            <input value="sim" type="radio">
            <label>Sim</label>
        </td>
    </tr>
</div>