<div class="tabela">
    <h3> {{tableTitle}} </h3>
    <table>
        <tr>
            <td class="tb_left">{{contentOneLeft}}</td>
            <td>{{contentOne}}</td>
        </tr>
        <tr>
            <td class="tb_left">{{contentTwoLeft}} </td>
            <td>
                <ul>
                    <li>{{contentTwo}}</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td class="tb_left">{{contentThreeLeft}}</td>
            <td>{{contentThree}}</td>
        </tr>
        <tr>
            <td class="tb_left">{{contentFourLeft}}</td>
            <td>
                <ul>
                    <li>{{contentFour}}</li>
                </ul>
            </td>
        </tr>
    </table>
</div>