<div id="caixa" class="sob principal">
    <div id="caixa" class="principal space">
        <h1 style="font-size: xx-large;">Imagens do Desenvolvimento do Projeto</h1>
    </div>

    <h4> <span class="name" style="font-size:x-large;">{{contentName}}</span> </h4>

    <div class="img-postagem">
        <img src="{{contentImg}}" alt="{{descriptionImg}}">
    </div>
    <br>
    <div class="img_text">
        <p>{{conteudo}}</p>
    </div>

    <div class="space-button">
        <a [routerLink]="['/projeto']"><img
                src="https://icongr.am/fontawesome/arrow-circle-o-left.svg?size=39&color=ffffff">Voltar</a>
    </div>
</div>